:root {
  font-family: "Roboto", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #000000;
  zoom: 0.80;
}

a {
  color: #0F4FEF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

button {
  font-family: inherit;
}

.stat-header {
  background-color: white;
  background-image: radial-gradient(#555 0.5px, transparent 1px);
  background-size: 26px 26px;

  padding: 22px 0;
}

.header-inner {
  max-width: 1200px;
  margin-left: 100px;
  margin-bottom: 20px;

  display: flex;
  align-items: flex-start;
}

.header-inner img {
  height: 50px;
  background: white;
  padding: 2px 30px 6px 20px;
  display: block;
}

.top-bar {
  width: 100%;
  height: 50px;
  background: #000;
}

.stat-footer {
  background-color: #000;
  background-image: radial-gradient(#fff 0.5px, transparent 1px);
  background-size: 26px 26px;
  background-position: 50px;
  margin-top: 150px;
  padding: 100px 0;
  color: white;
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 100px;
}

.stat-footer p {
  margin: 0;
  font-size: 14px;
}